@import "reset";
@import "colours";
@import "type";
body {
  margin: 0;
  padding: 0;
  width: 100%;

}
.scroll-snap  {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;

  overflow-y: scroll;
    display: flex;
  flex-flow: column nowrap;

  .start {
    scroll-snap-align: start;
  }
  .center {
    scroll-snap-align: center;
  }
  .end {
    scroll-snap-align: end;

  }



  .section {
    padding: 2em;
    flex: 50vh 1 0;

  }
  

  .section2 {
    a {
      position: relative;
      img {
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);

        pointer-events: none;
      }
    }
  }
  .section3 {
    .projects {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 100%;
      .project-title {
        flex: 100px 0 1;
        h3 {
          text-align: center;
          margin: 0;
          &:hover {
            border-bottom: 2px solid $ivory;
          }
        }
      }
    }
  }
}

video, iframe {
width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0 0 50px;
}
img {
  max-height: 90vh;
  width: auto;
}


.flex {
  height: 100%;
  display: flex;
  overflow-x: auto;
  flex-flow: column nowrap;
  scroll-snap-type: y proximity;

  .section {
    flex: auto 1 0;
    padding: 2em;
    scroll-snap-align: start;
    align-content: center;
    @media (min-width: 400px) {
      padding: 3em;
    }
    @media (min-width: 800px) {
      flex: 70vw 1 0;
    }
  }
   .collapsible {
      display:none;
    }
    // .collapsible {
    //   display:block;
    // }
    // .more {
    //   overflow: hidden;
    //   height: 0px;
    //   transition: height ease 1s;
      
    // }
  @media (min-width: 769px) {
    flex: none;
    flex-flow: row nowrap;
    scroll-snap-type: x proximity;
      overflow-y: hidden;
      height: 100vh;

    .section {
      flex: 70vw 1 0;
    }
 
    .more {
      height: auto;
    }
  }
  .section1 {
    position: relative;
    flex: 90vw 1 0;
    max-height: 100vh;
  }
  .section:not(.section1) {
    overflow-y: scroll;
    overflow-x: hidden;
}
  .section2 {
    a {
      position: relative;
      img {
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);

        pointer-events: none;
      }
    }

    // @media (min-width: 769px) {
    //   .twist {
    //     width: 120%;
    //     // transform: perspective(220vw) rotateY(35deg) translate(-10%, 0%);
    //     transform: perspective(180vw) rotateY(60deg) translate(-30%);
    //     transition: transform 300ms ease;
    //   }

    //   &:hover {
    //     .twist {
    //       width: 100%;
    //       transform: perspective(0) rotateY(0deg);
    //       overflow-y: scroll;
    //     }
    //   }
    // }
  }
  .section3 {
    .projects {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 100%;
      .project-title {
        flex: 100px 0 1;
        h3 {
          text-align: center;
          margin: 0;
          &:hover {
            border-bottom: 2px solid $ivory;
          }
        }
      }
    }
  }
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
  margin-bottom: 2em;
iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}
}